<div class="card">
  <div class="card__content card__centers">
    <div class="field">
      <%= f.collection_select :center_id, f.object.center_options_for_select, :first, :last %>
    </div>
  </div>
</div>
